<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wlj.chuangbabav2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.wlj.chuangbabav2.CBBContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.wlj.chuangbabav2.activity.Loading"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 防止键盘顶起tabhost android:windowSoftInputMode="adjustPan" -->
        <activity
            android:name="com.wlj.chuangbabav2.activity.Main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wlj.chuangbabav2.activity.PSWLogin"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wlj.chuangbabav2.activity.RandCodeLogin"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wlj.chuangbabav2.activity.home.menchuang.MenChuangList"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wlj.chuangbabav2.activity.home.menchuang.MenChuangXiangQing"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wlj.chuangbabav2.activity.home.anli.AnLiList"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wlj.chuangbabav2.activity.home.anli.AnLiXiangQing"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wlj.chuangbabav2.activity.home.gonglue.GongLueList"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wlj.chuangbabav2.activity.home.gonglue.GongLueXiangQing"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wlj.chuangbabav2.activity.kefu.FuWu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wlj.chuangbabav2.activity.kefu.FuWuXiangQing"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wlj.chuangbabav2.activity.my.news.MyNews"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wlj.chuangbabav2.activity.my.PersionInfo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wlj.chuangbabav2.activity.my.set.SetUp"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wlj.chuangbabav2.activity.my.ShouCang"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wlj.chuangbabav2.activity.my.set.ModifyPSW"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>